$_primary-crayola: #F9A826;
$_primary-indigo: #1D355D;
$_primary-metallic-blue: #2F527B;
$_primary-anti-flash-white: #F2F2F2;
$_primary-white: #FFFFFF;
$_secondary-slate-blue: rgba(96, 102, 208, 0.7);
$_secondary-medium-aquamarine: #6FCF97;
$_hover-crayola: #bd7f1c;
$_shadow-crayola: rgba(252, 168, 47, 0.4);
$_success: #60BF88;
$_error: #EA8282;

$bg-btn-primary: $_primary-crayola;
$bg-btn-primary-hover: $_hover-crayola;
$bg-light:$_primary-anti-flash-white;
$bg-lighter: $_primary-white;
$bg-choice-quiz-hover: $_primary-crayola;

$shadow-btn-primary: $_shadow-crayola;

$border-btn-primary: $bg-btn-primary;
$border-btn-secondary: $_primary-indigo;
$border-choice-quiz: $_secondary-slate-blue;
$border-choice-quiz-hover: $_primary-crayola;

$state-success: $_success;
$state-error: $_error;

$text-primary: $_primary-metallic-blue;
$text-primary-light: $_primary-anti-flash-white;
$text-primary-lighter: $_primary-white;
$text-primary-dark: $_primary-indigo;
$text-choice-quiz: $_secondary-slate-blue;
$text-success: $_secondary-medium-aquamarine;
